
@use './variables/ـcolors' as *;

@use './fonts/ـfont' as *;

@use './partials/_main_header' as *;

@use './partials/_banner' as *;

@use './partials/_3dpng' as *;

@use './partials/_tools' as *;

@use './partials/_slogan' as *;



/* ---------- reset style ---------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: $heading-color;
}

body {
  font-family: "Parkinsans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  background: $dark-bg url("assets/img/banner/hero_bg.svg") no-repeat center top;
  background-size: cover;
  color: $body-color;
}

.global-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* ---------- container style ---------- */
.container{
  width: 1200px;
  margin: 0 auto;
}

.container-wide{
  width: 100%;
}

