/* ---------- header style ---------- */
@use '../variables/ـcolors' as *;

@use './_btn' as *;


/* ---------- header style ---------- */
.main-header {
  background-color: $secondary-color;
  color: $heading-color;
  border-radius: 50px;
  position: relative;
  z-index: 10;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin: 10px auto;
}

.main-header nav {
  display: flex;
  align-items: center;
  gap: 130px;
}


.main-header h1 img {
  height: 50px;
  width: auto; 
  margin: 10px 30px;
}

.main-header ul {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 50px;
}

.main-header ul a {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  transition: color 0.3s ease;
  padding: 15px 2px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    width: 0; 
    height: 1.5px;
    background-color: $main-color;
    transition: width 0.2s ease;
  }

  &:hover {
    color: $main-color;

    &::after {
      width: 12px;
    }
  }
}





