@use '../variables/ـcolors' as *;
@use '../fonts/ـfont' as *;

.tagline{
    display: flex;
    justify-content: center;
    color:  $main-color;
    padding: 5px 2dvb;
    margin: 8px;
    font-family: "Parkinsans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: .1px solid $main-light;
    border-radius: 50px;
    background-color: transparent;
}